.icon {
  // color: rgb(141, 16, 179);
  color: #d6204b;
  transition-duration: 2000;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 8px;
}
.icon:hover {
  background-color: rgba(183, 19, 224, 0.1);
  fill-opacity: 20%;
  cursor: pointer;
}


.timer-form {
  position: fixed;
  width: calc(100vw - 180px);
  background-color: #fff;
  box-shadow: 0 3px 5px -2px rgba(117, 117, 117, 0.3);
  height: 70px;
  z-index: 100;

  .timeEntryInput {
    box-sizing: border-box;
    width: 100%;
    max-width: 90%;
    border: none;
    font-size: 130%;
    padding-left: 20px;
    color: #1d1d1d;
  }

  .timeEntryInput:focus {
    box-shadow: none
  }

  .autocomplete-dropdown {
    max-width: 50%;
    width: 100px;
    margin: 100px 100px
  }
}
.ant-popover-inner {
  border-radius: 10px;
}

.popover-projects {
  cursor: pointer;
  padding: 5px 15px
}

.popover-sidebar {
  cursor: pointer;
  padding: 5px 0px
}
.popover-sidebar:hover {
  color: #cecece

}

.popover-projects:hover {
  background-color: rgba(183, 19, 224, 0.1);
  border-radius: 8px;
}

.listItem {
  height: 50px;
  min-height: 50px;
  box-shadow: inset 0 -1px 0 0 #e8e8e8;
  color: #222222;
  font-weight: 400;

}

.ant-input {
  color: #222222;
  font-weight: 400;
}


.listItem:hover > .iconCol {
  visibility: visible;
}

.listItem:hover {
  background-color: #f9fbfc
}
.iconCol {
  visibility: hidden;
  transition: none
}

.datePicker {
  width: 120px;
}

.ant-calendar-picker-input {
  border: none;
  background-color: transparent
}
.ant-calendar-picker-input:hover {
  cursor: pointer;
}

.ant-calendar-picker-icon {
  display: none;
}



.teProject {
  padding: 4px 12px;
  width: auto;
  display: inline-block;
  box-shadow: none
}

.teProject:hover {
  cursor: pointer;
  background-color: rgba(183, 19, 224, 0.1);
  border-radius: 8px;
}

.teProject:focus {
  color: red;
}

.ant-form-item-control-wrapper {
  width: 100%;
  height: 100%;
}

.fontFix {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  color: #222222;

  // text-overflow: ellipsis ellipsis;
  text-overflow: none;
  white-space: nowrap;
  overflow: hidden;
}

.editable {
  border: none;
  // border-color: transparent;
}

.editable:focus {
  border: none;
  outline: none;
  box-shadow: none
  // border-color: transparent;
}

.close-btn {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}

.close-btn > * {
  color: red
}

.close-btn:hover {
  background-color: rgba(224, 19, 46, 0.1);
}


// box-shadow: inset 0 -1px 0 0 #e8e8e8;
