
@import '_base';
@import '_table';
@import './variables.scss';

:global {
    html,
    body {
        width: 100%;
        height: 100%;
    }

    #app {
        width: 100%;
        height: 100%;
    }

    svg,
    svg path {
        fill: currentcolor;
    }
}


// :global {
//     html,
//     body {
//         width: 100%;
//         height: 100%;
//     }

//     #app {
//         width: 100%;
//         height: 100%;
//     }

//     svg,
//     svg path {
//         fill: currentcolor;
//     }
//     #components-grid-demo-playground [class^="ant-col-"] {
//         background: transparent;
//         border: 0;
//       }
//       #components-grid-demo-playground [class^="ant-col-"] > div {
//         background: #00A0E9;
//         height: 120px;
//         line-height: 120px;
//         font-size: 13px;
//       }
//       #components-grid-demo-playground pre {
//         background: #f9f9f9;
//         border-radius: 6px;
//         font-size: 13px;
//         padding: 8px 16px;
//       }
// }
