
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Baloo');

@import '_base';
@import '_table';
@import '_timeEntriesListItem';
@import './variables.scss';

:global {
    html,
    body {
        width: 100%;
        height: 100%;
    }

    #app {
        width: 100%;
        height: 100%;
    }

    svg,
    svg path {
        fill: currentcolor;
    }

}
 // MaidCustom Styles
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}



    /* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(243, 11, 61); 
}




// :global {
//     html,
//     body {
//         width: 100%;
//         height: 100%;
//     }

//     #app {
//         width: 100%;
//         height: 100%;
//     }

//     svg,
//     svg path {
//         fill: currentcolor;
//     }
//     #components-grid-demo-playground [class^="ant-col-"] {
//         background: transparent;
//         border: 0;
//       }
//       #components-grid-demo-playground [class^="ant-col-"] > div {
//         background: #00A0E9;
//         height: 120px;
//         line-height: 120px;
//         font-size: 13px;
//       }
//       #components-grid-demo-playground pre {
//         background: #f9f9f9;
//         border-radius: 6px;
//         font-size: 13px;
//         padding: 8px 16px;
//       }
// }
