//
//  Variables
//

// $prefix                     : "yu";

$primary-color: #720f91;                         // primary color for all components
$link-color: #1890ff;                            // link color
$success-color: #52c41a;                         // success state color
$warning-color: #faad14;                         // warning state color
$error-color: #f5222d;                           // error state color
$font-size-base: 15px;                           // major text font size
$heading-color: rgba(0, 0, 0, .85);              // heading text color
$text-color: rgba(0, 0, 0, .65);                 // major text color
$text-color-secondary : rgba(0, 0, 0, .45);      // secondary text color
$disabled-color : rgba(0, 0, 0, .25);            // disable state color
$border-radius-base: 4px;                        // major border radius
$border-color-base: #d9d9d9;                     // major border color
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15);  // major shadow for layers
$font-family: "Roboto", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// color
$primary-color              : #720f91;
// $success-color              : #52c41a;
// $error-color                : #f5222d;
// $highlight-color            : #f5222d;
// $warning-color              : #faad14;
// $white-color                : #fff;
// $black-color                : #000;
// $background-color-base      : #f1f4f5;
// $background-color-light     : $white-color;
// $disabled-color             : fade-in(#000, .25);
// $disabled-bg                : $background-color-base;
// $disabled-color-dark        : fade-in(#fff, .35);
// $dark-color                 : #263238;
// $dark-color-light           : #21292e;


// // font
// $font-size-base             : 14px;
$font-size-lg               : $font-size-base + 2px;
$font-size-sm               : 13px;
// // font-weight
$font-weight-base           : 300;
// // font-color
// $text-color                 : #76838f;
// $text-color-dark            : #333;

// // line
// $line-height-base           : 1.5;

// // border
// $border-width-base          : 1px;
// $border-style-base          : solid;
// // border-radius
// $border-radius-base         : 4px;
// $border-radius-sm           : 2px;
// // border-color
// $border-color-base          : #e4eaec;

// // link
// $link-color                 : $primary-color;
// $link-color-hover           : #f112df;
// $link-color-active          : #33d909;
// $link-decoration            : none;
// $link-hover-decoration      : none;

// $screen-xs                  : 576px;
// $screen-sm                  : 768px;
// $screen-md                  : 992px;
// $screen-lg                  : 1280px;

// $box-shadow-base         : 0 2px 8px rgba(0, 0, 0, 0.09);
